h1 {
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  font-size: 3em;
  line-height: 1.5;
  color: #8045e5 !important;
  }
h2 {
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  margin-top: 10rem;
  font-size: 2em;
  }
h3 {
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  margin-top: 10rem;
  font-size: 2em;
  }
h4 {
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  margin-top: 10rem;
  font-size: 2em;
  }
h5 {
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  margin-top: 10rem;
  font-size: 2em;
  }
hr {
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  border:2px solid #8045e5;
  }
p {
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 2.5;
  }

a.reference.internal {
  color: inherit;
  font-weight: bold;
  }
a.reference.internal:active {
  color: inherit;
  }
a.reference.internal:visited {
  color: inherit;
  }
a.reference.internal:hover {
  color: #8045e5;
  text-decoration: none;
  }
a.reference.external {
  color: #4A90E2;
  text-decoration: underline;
  text-decoration-color: #4A90E2;
  text-decoration-thickness: 1px;
  }
a.reference.external:active {
  color: #4A90E2;
  text-decoration: underline;
  text-decoration-color: #4A90E2;
  text-decoration-thickness: 1px;
  }
a.reference.external:visited {
  color: #4A90E2;
  text-decoration: underline;
  text-decoration-color: #4A90E2;
  text-decoration-thickness: 1px;
  }
a.reference.external:hover {
  color: #4A90E2;
  text-decoration: underline;
  text-decoration-color: #4A90E2;
  text-decoration-thickness: 1.5px;
  }
a.reference.internal.nav-link {
  color: inherit;
  font-weight: normal;
  }
a.reference.internal.nav-link:active {
  color: inherit;
  }
a.reference.internal.nav-link:visited {
  color: inherit;
  }
a.reference.internal.nav-link:hover {
  color: #8045e5;
  text-decoration: none;
  }
a.headerlink {
  color: #8045e5 !important;
  font-size: .8em;
  margin-left: .2em;
  padding: 0 4px;
  text-decoration: none;
  user-select: none;
  }
.toc-entry a.nav-link.active {
  background-color: transparent;
  box-shadow: inset max(3px, .1875rem, .12em) 0 0 #8045e5;
  color: inherit;
  font-weight: 600;
  }
nav.bd-links .current>a {
  background-color: transparent;
  box-shadow: inset max(3px, .1875rem, .12em) 0 0 #8045e5;
  color: inherit;
  font-weight: 600;
  }
.search-button-field {
  display: none !important;
  }
.bd-sidebar::-webkit-scrollbar {
  display: none;
  }
.bd-sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  }
.caption {
  margin-right: 0;
  margin-left: 0;
  }
.sd-bg-primary {
  background-color: #4A90E2 !important;
  }
.sd-card-text {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.85em;
  }

.twitter-tweet {
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
  text-align: center;
  }
.linkcard {
  display: flex;
  align-items: center;
  float: left
  }
.linkcard_img {
  max-width: 10rem;
  max-height: 10rem;
  margin-right: 1rem;
  }
.linkcard_text {
  font-size: 0.85em;
  }

.base {
  margin-right: 4.5rem;
  margin-left: 4.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  }
.card-text{
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.85em;
  line-height: 2.5;
  }
.margin-text{
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8em;
  line-height: 2.5;
  }
.table-text{
  border: 1px solid #f3f4f5;
  vertical-align: top;
  padding: 0.5em;
  line-height: 2.4;
  }
a.link-text {
  color: inherit;
  text-decoration: none;
  }
a.link-text:active, a:visited {
  color: inherit;
  text-decoration: none;
  }
a.link-text:hover {
  color: #4A90E2;
  text-decoration: underline;
  text-decoration-color: #4A90E2;
  text-decoration-thickness: 1px;
  }
.strong_rd {
  font-weight:bold;
  color:#B33A3A;
  }
.imp {
  border-bottom: 0.1px solid #B33A3A;
  }
.imp:hover {
  color: #B33A3A; 
  font-weight: bold;
  border-bottom: 0.1px solid #00000000;
  }

.idt {
  text-indent:1em;
  }
.hg-idt {
  padding-left:1em;
  text-indent:-1em;
  }
.pad1 {
  padding-left:1em;
  }
.pad2 {
  padding-left:2em;
  }
.pad3 {
  padding-left:3em;
  }
.pad4 {
  padding-left:4em;
  }
.pad5 {
  padding-left:5em;
  }
.pad6 {
  padding-left:6em;
  }

@media only screen and (max-width: 767px) {
  h1 {
    margin-right: 0;
    margin-left: 0;
    font-size: 3em;
    line-height: 1.5;
    }
  h2 {
    margin-right: 0;
    margin-left: 0;
    margin-top: 10rem;
    font-size: 2em;
    }
  h3 {
    margin-right: 0;
    margin-left: 0;
    margin-top: 10rem;
    font-size: 2em;
    }
  h4 {
    margin-right: 0;
    margin-left: 0;
    margin-top: 10rem;
    font-size: 2em;
    }
  h5 {
    margin-right: 0;
    margin-left: 0;
    margin-top: 10rem;
    font-size: 2em;
    }
  hr {
    margin-right: 0;
    margin-left: 0;
    border:2px solid #8045e5;
    }
  p {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    line-height: 2.5;
    }
  .sd-card-text{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.85em;
    line-height: 2.5;
    }
  
  .base {
    margin-right: 0;
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    }
  .card-text{
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.85em;
    line-height: 2.5;
    }
  .linkcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
  .linkcard_img {
    width: 100%;
    height: auto;
    display: block;
    }
  .linkcard_text {
    position: static;
    width: auto;
    padding: 0;
    text-align: left;
    }
    }